[Desktop Entry]
Type=Application
Exec=/home/bacs/host/Manager.sh
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=BACSManager
Name=BACSManager
Comment[en_US]=
Comment=
