[Desktop Entry]
Type=Application
Exec=/home/bacs/host/Module.sh
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=BACSModule
Name=BACSModule
Comment[en_US]=
Comment=
