[Desktop Entry]
Type=Application
Exec=/home/bacs/host/Enroll.sh
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=BACSEnroll
Name=BACSEnroll
Comment[en_US]=
Comment=
